# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

jobs:
  - job: Linux
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: docker build -f Dockerfile-base -t sgext/base .
      displayName: "Dockerfile-base: Build third party projects"
    - script: docker build -f Dockerfile -t sgext/scripts .
      displayName: "Dockerfile: Build project"
    - script: docker build -f Dockerfile-test -t sgext/tests .
      displayName: "Dockerfile-test: Run tests"

