include CMakeLists.txt
include cmake/*.cmake
include README.md
include sgextVersion.py
include scripts/dockcross-manylinux-build-wheels.sh
recursive-include scripts/internal *
include setup.py
include sgext/__init__.py
